body {
  background-color: tan;
  color: rgb(19, 85, 44);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  box-shadow: 0 1px 8px #ddd;
}

#nav-title {
  margin-right: auto;
  font-size: 35px;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: rgb(19, 85, 44);
}

section{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  height: auto;
  width: 100%;
  align-items: center;
  color: rgb(19, 85, 44);
  font-size: 25px;
}
